<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Reset Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles.css'>
    

</head>

<body>
    <section class='signup'>

        <div class="hero-image">
        </div>

        <form method="POST" class='user-auth' id="reset-form">    
             <div class="logo">
            <img src="https://www.svgrepo.com/show/492596/food.svg" alt="" />
            <h1>Good <span>Taste</span></h1>
            </div>
            <h1>Set new password</h1>
            <p>Your new password must be different to previously used passwords</p>

            <div class="error-message" id="error"></div>
            <label htmlFor="password">Password</label>
            <input type="password" name="password" id="password" title='password' />

            <label htmlFor="password">Confirm password</label>
            <input type="password" name="Confirm-password" id="confirm-password" title='password' />

            <button type='submit'>Reset Password</button>
        </form> 

        
    </section>


    <script src="/js/main.js"></script>
</body>

</html>